.vs
aws-secret.bat
docker-compose-account.yml
docker-compose-catalog.yml
docker-compose-development-service.yml
docker-compose-elasticsearch.yml
docker-compose-filehub.yml
docker-compose-identity.yml
docker-compose-master.yml
docker-compose-notification.yml
docker-compose-ordering.yml
docker-compose-rabbitmq.yml
docker-compose-search.yml
google-secret.bat
identity.json
key.json
kms-setup.json
local-secret.bat
secret.bat